#month-view,
#week-view,
#daily-view {
    margin: 20px;
}

/* #test {
    width: 14%;
    height: 200px;
} */

textarea {
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: transparent;
}

.dailyText {
    height: 350px;
}

th, 
tr, 
td {
    text-align: center;
}

/* Form is never displayed but needs to exist for email submission */
#email-form{
    display: none;  
}


#month-view{
    height: 100%;
    min-width: 320px;
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#images{
    background-position: -100px -100px;
    height: 200px;
    width: 100px;
    /* width: 100%; */
}   

#settings-dropdown {
    padding: 10px;
}
