body {
    background-color: white;
    color: #292b2c;

} 

.container {
    margin: 20px auto;
}

nav,
#settings-button {
    background-color: #f7f7f7;
}

#navTitle,
#settingsIcon {
    color: #292b2c;
}


#viewBtn,
#searchShowtimesBtn,
#save-user-button,
#save-theme-button,
#save-quotes-button,
#save-sports-button,
#save-movies-button {
    background-color: #292b2c;
    color:#f7f7f7;
}


textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

.dailyText {
    height: 350px;
}

.today-month {
    background-color: yellow;
}

th,
tr,
td {
    text-align: center;
    color: black;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px; color: #444;
    text-align: end;
}

tr{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.nuContainer,
#userSetting,
#themeSetting,
#quoteSetting,
#sportsSetting,
#moviesSetting {
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: black;
}

#userSetting {
    background-color: #eef3ff;
}

#themeSetting {
    background-color: #e2ecfe;
}

#quoteSetting {
    background-color: #d4e3ff;
}

#sportsSetting {
    background-color: #c2d8ff;
}

#moviesSetting {
    background-color: #b7d1ff;
}

.nuContainer{
    background-color: #d4e3ff;
}

#yesToEmail,
#noToEmail {
    margin: 10px;
}

/* ////////////////////////////////////NASA///////////////////////////////// */

.container-image {
    position: relative;
    widows: 100%;
}
.image{
    text-align: center;
    margin: 0, auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 0;
    height: 100%;
    width: 86%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.container-image:hover .overlay{
    opacity: 0.5;
}

.image-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ///////////////////////////DARKMODE////////////////////////////////////// */
.dark-mode,
.dark-mode #month-view-card,
.dark-mode #daily-view {
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}

.dark-mode #userSetting,
.dark-mode #save-user-button {
    background-color: #3D488A;
    color: whitesmoke;
}

.dark-mode #themeSetting,
.dark-mode #newUserInformation {
    background-color: #2D3874;
    color: whitesmoke;
}
.dark-mode #quoteSetting {
    background-color: #212A60;
    color: whitesmoke;
}
.dark-mode #sportsSetting {
    background-color: #1C2556;
    color: whitesmoke;
}
.dark-mode #moviesSetting {
    background-color: #131B42;
    color: whitesmoke;
}

.dark-mode .input-event,
.dark-mode th, 
.dark-mode tr,
.dark-mode td {
    color: whitesmoke;
}
.dark-mode h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px; color: whitesmoke;
}


.dark-mode nav,
.dark-mode #settings-button {
    background-color: rgb(30, 30, 30);
    color:whitesmoke;
}


.dark-mode #navTitle,
.dark-mode #settingsIcon {
    color: whitesmoke;
}

.dark-mode #viewBtn,
.dark-mode #searchShowtimesBtn,
.dark-mode #save-user-button,
.dark-mode #save-theme-button,
.dark-mode #save-quotes-button,
.dark-mode #save-sports-button,
.dark-mode #save-movies-button {
    background-color: #f7f7f7;
    color: #292b2c;
}

/* /////////////////Glow btn, based off https://codepen.io/kocsten/pen/rggjXp //////////////////// */

.dark-mode #todaysDate {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.dark-mode #todaysDate:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.dark-mode #todaysDate:active {
    color: #000
}

.dark-mode #todaysDate:active:after {
    background: transparent;
}

.dark-mode #todaysDate:hover:before {
    opacity: 1;
}

.dark-mode #todaysDate:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* /////////////////Glow cell, based off https://codepen.io/kocsten/pen/rggjXp //////////////////// */

.dark-mode .today-month {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.dark-mode .today-month:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.dark-mode .today-month:active {
    color: #000
}

.dark-mode .today-month:active:after {
    background: transparent;
}

.dark-mode .today-month:hover:before {
    opacity: 1;
}

.dark-mode .today-month:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* ////////////////////////////////////Rick&Morty///////////////////////////////// */

.rm-mode{
background-image: url(./images/rmwallpaper.jpg);
font-family: 'Oswald', sans-serif;
font-style: normal;
}

.rm-mode th,
.rm-mode tr,
.rm-mode td,
.rm-mode h1,
.rm-mode .input-event {
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
}

.rm-mode,
.rm-mode #month-view-card,
.rm-mode #daily-view {
    background-color:black;
    color: white;
}

.rm-mode #userSetting,
.rm-mode #save-user-button {
    background-color: green;
    color: white;
}

.rm-mode #themeSetting,
.rm-mode #newUserInformation {
    background-color: green;
    color: white;
}
.rm-mode #quoteSetting {
    background-color: green;
    color: white;
}
.rm-mode #sportsSetting {
    background-color: green;
    color: white;
}
.rm-mode #moviesSetting {
    background-color: green;
    color: white;
}

.rm-mode h1{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px; color: white;
}


.rm-mode nav,
.rm-mode #settings-button {
    background-color: black;
    color:white;
}


.rm-mode #navTitle,
.rm-mode #settingsIcon {
    color: white;
}

.rm-mode #viewBtn,
.rm-mode #searchShowtimesBtn,
.rm-mode #save-user-button,
.rm-mode #save-theme-button,
.rm-mode #save-quotes-button,
.rm-mode #save-sports-button,
.rm-mode #save-movies-button {
    background-color: white;
    color: black;
}

.rm-mode #month-view-card {
    border-width: thick;
}

/* /////////////////Glow btn, based off https://codepen.io/kocsten/pen/rggjXp //////////////////// */

.rm-mode #todaysDate {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.rm-mode #todaysDate:before {
    content: '';
    background: linear-gradient(45deg,#63d12b, #c6ff9d, #c3fb61, #3aa213,#379114, #3fda07, #52b920, #d5ff8c, #56e210);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 600%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.rm-mode #todaysDate:active {
    color: black
}

.rm-mode #todaysDate:active:after {
    background: transparent;
}

.rm-mode #todaysDate:hover:before {
    opacity: 1;
}

.rm-mode #todaysDate:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* /////////////////Glow cell, based off https://codepen.io/kocsten/pen/rggjXp //////////////////// */

.rm-mode .today-month {
    border: none;
    outline: none;
    color: #fff;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.rm-mode .today-month:before {
    content: '';
    background: linear-gradient(45deg, #63d12b, #c6ff9d, #c3fb61, #3aa213,#379114, #3fda07, #52b920, #d5ff8c, #56e210);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 600%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.rm-mode .today-month:active {
    color: black;
}

.rm-mode .today-month:active:after {
    background: transparent;
}

.rm-mode .today-month:hover:before {
    opacity: 1;
}

.rm-mode .today-month:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 600% 0; }
    100% { background-position: 0 0; }
}